body {
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -70px -40px 0 -40px;
    background-color: black;
    height: 270px;
    transform: rotate(3deg);
}

main {
    font-family: 'Just Another Hand', 'Roboto', sans-serif;
    font-size: 2rem;
}

h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 6em;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(240, 193, 85);
    text-shadow: -3px 3px rgb(85, 173, 240);
    margin: auto;
    transform: rotate(-3deg);
    z-index: 10;
}

.blackContainer {
    background-color: black;
    height: 100px;
    width: 750px;
    position: absolute;
    top: 75%;
    left: -5%;
    transform: rotate(-6deg);
    z-index: 1;
}

.numberChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

label {
    font-size: 2rem;
}

button {
    font-family: 'Just Another Hand', 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    
}

button:hover {
    cursor: pointer;
    transition: box-shadow 300ms;
    box-shadow: -3px 3px rgb(240, 193, 85);
}
